---
import { getI18n } from '@content/i18n';
const lang = Astro.url.pathname.split('/')[1] || 'es';
const { t } = getI18n(lang);
const year = new Date().getFullYear();
---

<footer data-testid="footer" class="p-6 text-center text-sm text-black dark:text-white">
	<p>
		{t('footer.copyright')} {year}. {t('footer.rights')}
		<a
			href="https://github.com/badkitten-bug"
			target="_blank"
			rel="noopener"
		>
			<span class="text-green"> Steve Gomez </span>
		</a>
		{t('footer.inspired')}
	</p>
</footer>
